<h2>Self vs Host example</h2>
<div appParentDir>
  The appParentDir provides dependency for the app-child component and appDir directive with the @Host() decorator <br>
  If we remove appParentDir, app-child and appDir will not get dependency, even it is provided in the parent component's metadata <br>
  Also if we change @Host() on @Self() in app-child or appDir it will not get dependency

  <app-child appDir></app-child>

  But in case of HostListener it means the element directive is attached to <br>
  It will listen to the click events only on app-child component
</div>
