<div class="col-md-6">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">

        <div *ngFor="let question of questions" class="mb-3">
            <app-question [question]="question" [form]="form"></app-question>
        </div>

        <div class="form-row">
            <button [disabled]="!form.valid"
                    class="btn btn-primary"
                    type="submit">
                Save
            </button>
        </div>
    </form>

    <div *ngIf="payLoad" class="form-row">
        <strong>Saved the following values</strong><br>{{payLoad}}
    </div>
</div>
